.home-wrapper {
  @extend .booking-wrapper;
}

.block {
  @include flex(row, default, space-between);
  flex-wrap: wrap;
}

.intro {
  text-align: center;

  h2 {
    @extend .h1;
    color: $color-light;
    margin: 0 auto;
    padding: 0;
  }

  div {
    margin: 2.5px;
    border-radius: $radius;
    height: 120px;
  }

  p {
    color: $color-light;
    margin-bottom: 0;
  }

  .box-nav {
    flex: 1;
    background-size: cover;
    position: relative;
    cursor: pointer;

    .hidden-mess {
      opacity: 0;
    }

    .inner {
      position: absolute;
      width: 100%;
      left: 50%;
      bottom: -5px;
      transform: translateX(-50%);
      height: auto;
      transition: $transition;
    }

    &:hover {
      .inner {
        transition: $transition;
        bottom: 50%;
        transform: translate(-50%, 50%);
      }

      .hidden-mess {
        opacity: 1;
        transition: $transition-slow;
      }
    }
  }

  > div:first-child{
    background-image: url(../../images/home/pizza-1.jpg);
    background-position: 0% 45%;
  }

  > div:nth-child(2) {
    background-image: url(../../images/home/pizza-2.jpg);
  }

  > div:last-child{
    flex: 100%;
    background-color: $color-main;
    @include flex(column, center, center);
  }
}
